﻿#wrapper table, th, td {
	height: 22px;
	height: 75px;
	line-height: 21px;
	line-height: 1;
	padding: 0 0 0 0;
	vertical-align: middle;
	text-align: center;
	margin:1px 0 0 0;
}
#accounts{
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
	margin: 0;
	white-space: nowrap;
	padding:0;
	height:747px;
	position: absolute;
	left:420px;
}

#accountsTable{
	width:421px;
}

#accountDetails table { margin-bottom: 50px; }

#formTable table { table-layout: fixed; }

#formTable table,
#formTable th,
#formTable td { text-align: left; }

#formTable .client-name { width: 36%; }
#formTable .client-dates { width: 20%; }
#formTable .user-controls { width: 12%; background-color: #ffffff; }


#rowHeaders{
	float: left;
	padding: 0;
	margin: 0;
}
#header{
	height:203px;
	position: absolute;
}
#wrapper{
	width:100%;
	max-width:900px;
	clear:both;
	position:relative;
}
#example1{
	position: absolute;
	top:203px;
}
.darkGreyRow{
	background-color:#4D4D4D;
	color: white;
	font-weight:bold;
	text-align: left;
	height:42px;
	line-height:42px;
	padding:0 0 0 15px;
	margin-right:1px;
}
.lightGreyRow{
	background-color:#626262;
	color: white;
	font-weight:bold;
	text-align: left;
	height:42px;
	line-height:42px;
	padding:0 0 0 15px;
	margin-right:1px;
}
.titleRow{
	height:25px;
	line-height:25px;
}
.alternateLightRow div, .alternateLightRow {
	background-color:#F2F2F2;
	color:#4d4d4d;
	font-weight:normal;
}

.alternateWhiteRow {
	background-color:white;
	color:#4d4d4d	;
	font-weight:normal;
}

.tealRow{
	background-color:#009AA6;
	color: white;
	font-weight:bold;
	height:51px;
	line-height:51px;
	margin-top:1px;
	margin-bottom:1px;
}
.leftRow{
	padding:0 0 0 15px;
	text-align: left;
	display:inline-block;
	float:left;
	width:220px;
	margin-right:1px;
}
.middleRow{
	display:inline-block;
	text-align: center;
	float:left;
	width:99px;
	margin-right:1px;
}
.rightRow{
	display:inline-block;
	text-align: center;
	float:left;
	width:99px;
	margin-right:1px;
}

.accountName { color:#b38d10;  }

.accountHeaderWrapper{
	width: 149px;
	color: white;
	font-weight:bold;
	text-align: center;
	display:inline-block;
	margin-left:1px;
}
.accountHeaderWrapper div{
	box-sizing: content-box;
}
.accountHeaderWrapper input{
	text-align:center;
	border:0;
	width:100%;
}
.accountHeaderWrapper :nth-child(1){
	background-color:#4D4D4D;
	height:42px;
	line-height:42px;
}
.accountHeaderWrapper :nth-child(2){
	background-color:#626262;
	height:42px;
	line-height:42px;
}
.accountHeaderWrapper :nth-child(3){
	background-color:#4D4D4D;
	height:42px;
	line-height:42px;
}
.accountHeaderWrapper :nth-child(4){
	background-color:#009AA6;
	height:51px;
	line-height:51px;
	margin-top:1px;
	margin-bottom:1px;
}
.accountHeaderWrapper :nth-child(5){
	width:100%;
	display: table;
}
.accountHeaderWrapper :nth-child(5) :nth-child(1),
.accountHeaderWrapper :nth-child(5) :nth-child(2),
.accountHeaderWrapper :nth-child(5) :nth-child(3) {
	background-color: #009AA6;
	height: 25px;
	line-height: 25px;
	width: 33.33%;
	display: table-cell;
	border-right: 2px solid;
}
.accountHeaderWrapper :nth-child(5) :nth-child(3) { border: 0; }

.newAccountWrapper {
	width: 149px;
	color: white;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin-left: 1px;
}
.newAccountWrapper :nth-child(1) {
	background-color: #4D4D4D;
	height: 42px;
	line-height: 42px;
	margin-top: 1px;
}
.newAccountWrapper :nth-child(2) {
	background-color: #626262;
	height: 42px;
	line-height: 42px;
}
.newAccountWrapper :nth-child(3) {
	background-color: #4D4D4D;
	height: 41px;
	line-height: 42px;
}
.newAccountWrapper :nth-child(4) {
	background-color: #9E7C0C;
	height: 51px;
	line-height: 51px;
	margin-top: 1px;
	margin-bottom: 1px;
}
#addAccount {
	display: block;
	width: 149px;
	height: 51px;
	line-height: 51px;
	background-color: #9E7C0C;
	color: white;
	font-weight: bold;
	text-align: center;
}

#selectAccounts {
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 18px;
	margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

.handsontable, th, .handsontable td {
	height: 25px;
	border-color: white !important;
	border-bottom: 0;
}

.handsontable tr:nth-child(odd) td { background-color: #F2F2F2; }
.htCells { border-color: white; }

.navButtons {
	width: 100%;
	height: 168px;
	padding: 30px;
	background-color: #f4f4f4;
}

.navButtons div {
	float: left;
	height: 106px;
	line-height: 82px;
	text-align: center;
	padding-right: 10px;
}
#summaryTable { clear: both; padding-top: 5px; }

#summaryTable td { text-align: center; }

#summaryHeader {
	padding-top: 10px;
	background-color: #009AA6;
	height: 100px;
}

#summaryHeader div {
	float: left;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 70px;
	color: white;
	line-height: 18px;
}

#summaryHeader > .high-2x { height: 80px; text-align: center; }

#summaryHeader .wide-2x { width: 140px; }

.summaryHeaderDarkGrey td {
	background-color: #4d4d4d;
	color: white;
	padding: 10px;
	border-left: 1px solid white;
}

#summaryContent div {
	float: left;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 70px;
}

#discountSummary {
	clear: both;
	width: 600px;
}
#discountHeader {
	background-color: #009AA6;
	color: white;
	width: 100%;
}
#discountSummary div {
	float: left;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}
.discountRow {
	clear: both;
	float: left;
	width: 100% !important;
}
.discountRow div {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 65px;
}

/* Signature and date */
#BranchManager, #RAVP, #RGM { margin-top: 70px; }
#BranchManager td, #RAVP td, #RGM td {     height: auto;
	text-align: left;
	padding-left: 10px;
	line-height: 1.4;
	vertical-align: top;
	padding-top: 10px; }
.signature { width: 300px; border-top: 1px solid rgba(0,0,0,.2); }
.signing-date { width: 200px; border-top: 1px solid rgba(0,0,0,.2); }
.gap { width: 40px; }

#searchButton {
	background-color: #f6f6f6;
	border: 1px solid #e8e8e8;
	padding: 10px;
}

.tablestyle { width: 330px; }

.tablestyle td { padding: 0 15px; }

.tablestyle a { color: #b38d10; }

.tablestyle a:hover { color: #ffffff; text-decoration: none; }

.tablestyle tr:nth-child(even) { background-color: #4d4d4d; color: white; }

.tablestyle tr:nth-child(odd) { background-color: #626262; color: white; }

.tableheadTeal {
	background-color:#009aa6;
	color:white;
	font-family:"FrutigerLTPro-BoldCn", arial, sans-serif;
	padding:10px !important;
	font-size:17px;
}
.ht_clone_top.handsontable { display: none; }
.ht_master.handsontable { height: 527px; }
.serviceTable input {
	text-align: center;
	border: 0;
	/*width: 100%;*/
	width: 96%;
	height: 42px;
}

.formRow .edit-controls { margin-top: 10px; }
.edit-controls .edit-btn { background: rgba(0,0,0,.2); margin-right: 20px; padding: 3px 10px 5px; border-radius: 2px; }
.edit-controls .edit-btn:hover { background-color: rgba(127, 127, 127, .15); }

.serviceTable .alternateLightRow input { background-color: #f2f2f2; }
#editName { color: black; }
.wtHolder { width: 100% !important; }

/* Firefox only styles */
@-moz-document url-prefix() {
	/* FIX FOR BOOTSTRAP RESPONSIVE IMAGES */
	table { table-layout: fixed; }
	.create_icon {
		top: 0;
	}

	#searchButton {
		padding: 11px 10px 9px;
	}
}

   .onlyPrint {display: none;}

@media print {
	.printTabs { page-break-after: always; display: block !important; }
	.doNotPrint { display: none; }
	#wrapper { max-width: 100%; }
	.dnn_layout { width: 100% }
	.onlyPrint {display: block; }
}