#accountSelect { color: red; font-size: 1.3em; }
.form-name { cursor: pointer; }

.searchButton {
	background-color: #f6f6f6;
	border: 1px solid #e8e8e8;
	padding: 11px 10px 9px;
	margin: 5px 0;
}

.create_icon {
	position: relative;
	background: transparent url(/desktopmodules/cwb/images/create_icon.png) no-repeat;
	background-size: 82px 49px;
	width: 82px;
	height: 49px;
	margin-left: -7px;
	padding: 12px 45px;
	top: 6px;
	border: none;
}


/*
.navButtons {
	width: 100%;
	height: 168px;
	padding: 30px;
	background-color: #f4f4f4;
}

.navButtons div {
	float: left;
	height: 106px;
	line-height: 82px;
	text-align: center;
	padding-right: 10px;
}

*/
.navButtons .cwb-btn {
	float: right;
	display: block;
	position: relative;
	width: 150px;
	height: 50px;
	top: 20px;
	right: 15px;
	line-height: 51px;
	background-color: #9E7C0C;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-right: 0;
	margin-right:5px;
}
/*
.navButtons .cwb-btn span {
	width: 100%;
	height: 100%;
	padding: 16px 25px;
	background-color: red;
	cursor: pointer;
}
*/
.navButtons .cwb-btn a { color: #ffffff; width: 100%;
	height: 100%;
	padding: 16px 23px;
	background-color: #9E7C0C;
	cursor: pointer; }
